[bumpversion]
current_version = 3.0.0
commit = True
tag = True
tag_name = v{new_version}
message = chore(Release): bump version {current_version} -> {new_version}
tag_message = z1 v{new_version}

[bumpversion:file:z1.zsh]
search = Z1_VERSION={current_version}
replace = Z1_VERSION={new_version}

[bumpversion:file:README.md]
search = version-v{current_version}-orange
replace = version-v{new_version}-orange
